<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>179524487435-7l2rbvda72kvab2jvc63uvbfoq78i1ra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179524487435-7l2rbvda72kvab2jvc63uvbfoq78i1ra</string>
	<key>API_KEY</key>
	<string>AIzaSyAXz4zxDLTVUW3MgNTYh7rr4IefqqAlPQs</string>
	<key>GCM_SENDER_ID</key>
	<string>179524487435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Naumenko.huber</string>
	<key>PROJECT_ID</key>
	<string>huber-4b91e</string>
	<key>STORAGE_BUCKET</key>
	<string>huber-4b91e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179524487435:ios:762c401bb6634be3</string>
	<key>DATABASE_URL</key>
	<string>https://huber-4b91e.firebaseio.com</string>
</dict>
</plist>